<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>EDIT SQUADRA</title>
</head>
<body>

	<div align="center">
		<h1>EDIT SQUADRA</h1>
		<form action="#" th:action="@{/save}" th:object="${squadre}"
			method="post">
			<table border="0" cellpadding=10>
				<tr>
				    <td>ID SQUADRE:</td>
					<td><input type="text" th:field="*{id_squadra}" readonly="readonly"/>
					<td><br>
					<td>NOME:</td>
					<td><input type="text" th:field="*{nome}" />
					<td><br>
					<td>PARTITE GIOCATE:</td>
					<td><input type="text" th:field="*{partite_giocate}" />
					<td><br>
					<td>PUNTI:</td>
					<td><input type="text" th:field="*{punti}" />
					<td><br>
				<tr>
					<td colspan="2"><button type="submit" value="clicca qui" />SALVA</td>
			</table>
		</form>
	</div>
</body>
</html>